{%include 'pqr/index.html'%}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if message %}<p style="color:lightgreen"><strong>{{ message }}</strong></p>{% endif %}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Create new PQR</h3>
      <form action="{% url 'add' %}" method="POST"> {% csrf_token %}
        <fieldset>
          <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="cellphone">phone number: </label>
            <input type="text" name="cellphone" id="cellphone" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" required></textarea>
          </div>
          <input type="submit" value="add" class="btn btn-primary btn-md" style="width: 100px;">
        </fieldset>
      </form>
    </div>
  </div>

</div>


{%include 'pqr/footer.html'%}
